.social-link .linkedin:hover {
  scale: 1.25;
  transition-duration: 0.37s;
  opacity: 1;
}

.social-link .github:hover {
  scale: 1.25;
  transition-duration: 0.37s;
  opacity: 1;
}

.social-link .gmail:hover {
  scale: 1.25;
  transition-duration: 0.37s;
  opacity: 1;
}

.social-link .youtube:hover {
  scale: 1.25;
  transition-duration: 0.37s;
  opacity: 1;
}

.social-link .facebook:hover {
  scale: 1.25;
  transition-duration: 0.37s;
  opacity: 1;
}
